{% extends "kamus/_base.html" %}

{% block title %}About{% endblock %}

{% block contents %}
    <a href="{% url 'homepage' %}">Back to the main page</a>
    <h1>About Kamus</h1>
    <h2>What is it?</h2>
    <p>
        The first and most important thing: currently this is a <em>personal side project</em>, a prototype of an idea.
        It might have downtimes, it might disappear, it's structure may change. On the other hand, I'm using it daily,
        so I plan to keep maintaining it.
    </p>
    <p>
        Before I started, I had two things in mind:
    </p>
    <ul>
        <li>How could I make translation data from Wiktionary easier to access?</li>
        <li>I wanted to learn more about the structure of Wiktionary and the project itself</li>
    </ul>
    <p>
        Kamus dictionary tries to help a user to find translations from Wiktionary. It reads the relevant pages from
        Wiktionary and presents translation information in an easier way, filtering out what's not needed for the
        translations.
    </p>
    <p>
        As an example, try to find the translation from the English word "table" to Catalan, using the <a
            href="https://kamus.pina.cat/translate/?from=en&to=ca&word=table">Wiktionary page</a> or the <a
            href="https://en.wiktionary.org/wiki/table">Kamus page</a>.
    </p>
    <p>
        I hope that Kamus might help some users to use Wiktionary and hopefully, improve Wiktionary (finding mistakes,
        adding translations, etc.).
    </p>

    <h2>Latest imports (autocompletion)</h2>
    <p>
        Read <a href="{% url "imports" %}">latest imports</a> for information on when the latest import was for the
        autocompletion "Word" field.
    </p>
    <h2>Word information</h2>
    <p>
        When loading a translation, the data is fetched from Wiktionary in real time. Therefore, if you edit Wiktionary
        and reload the page on Kamus you will see the changes in real time.
    </p>
    <h2>Shortcuts</h2>
    <p>
        {% include "kamus/_shortcuts.html" %}
    </p>

    <h2>More languages are coming</h2>
    <p>
        Currently, Kamus offer to translate from English, Catalan and Spanish to any language listed. More languages
        coming, if you have any preference let me know (contact details at the bottom of the page).

        I have some ideas for how to add "from any to any" language instead of having to implement
        languages manually, but I'm still evaluating it.
    </p>
    <h2>JavaScript and Cookies</h2>
    <p>
        JavaScript is currently required for the "word" to translate autocompletion.
    </p>
    <p>
        Cookies are used in order to save the "From" and "To" languages.
    </p>
    <h2>Contact</h2>
    <p>
        Feel free to get in touch for any suggestions, bugs and feedback via <a href="mailto:carles@pina.cat">email</a>,
        <a href="https://github.com/cpina/kamus-dictionary/issues">GitHub Issues</a> or
        <a href="https://github.com/cpina/kamus-dictionary/discussions">GitHub Discussions.</a>
    </p>
    <p class="text-end">
        Carles Pina i Estany, <a href="https://carles.pina.cat">https://carles.pina.cat</a>, August 2022.
    </p>
{% endblock %}
