{% extends "kamus/_base.html" %}

{% block title %}Shorcuts{% endblock %}

{% block contents %}
    <a href="{% url 'homepage' %}">Back to the homepage</a>
    <h1>Shorcuts</h1>
    Kamus dictionary supports keyboard shortcuts, so there is no need to move the hands off the keyboard.
    <ul>
        <li>
            Alt+W: focus to write a Word
        </li>
        <li>
            Alt+C: Change from/to language
        </li>
    </ul>
    <a href="{% url 'homepage' %}">Back to the homepage</a>
{% endblock %}
