{% extends "kamus/_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ word }}{% endblock %}

{% block contents %}
    <h1>Kamus dictionary</h1>
    {% crispy search %}
    <p></p>
    <h2>{{ word }}</h2>

    {% if translations.translated_senses|length == 0 and translations.non_translated_senses|length == 0 %}
        <p>
            No translations neither meanings found for the selected languages and word.
        </p>
    {% endif %}

    {% for sense in translations.translated_senses %}
        {% if sense.see %}
            {% include "kamus/_see.html" with see=sense.see only %}
            <p></p>
        {% else %}
            {{ sense.sense }}{% include "kamus/_also.html" with also=sense.also base_link_to_word=base_link_to_word only %}
            <ul>
                {% for translation in sense.translations %}
                    <li>{% include "kamus/_translation.html" with translation=translation only %}
                        {% include "kamus/_alternatives.html" with alternatives=translation.alternatives %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    {% if translations.non_translated_senses %}
        Non translated meanings:
        <ul>
            {% for sense in translations.non_translated_senses %}
                {#                TODO: Refactor with above#}
                {% if sense.see %}
                    <li>{% include "kamus/_see.html" with see=sense.see only %}</li>
                {% else %}
                    <li>
                        {{ sense.sense }}{% include "kamus/_also.html" with also=sense.also base_link_to_word=base_link_to_word only %}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <p class="text-secondary">
        Information from: {% include "_sources.html" with sources=translations.sources only %}.<br>
        This is a prototype: some information might be missing.
    </p>
{% endblock %}
