{% extends "kamus/_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Kamus Dictionary - {{ word }}{% endblock %}

{% block contents %}
    <h1>{{ word }}</h1>

    {% for sense in translations.senses %}
        {{ sense.sense }}
        <ul>
            {% for translation in sense.translations %}
                <li>{{ translation.translation }}
                {% for alternative in translation.alternatives %}
                    {% if forloop.first %}
                        <i>Alternatives: </i>
                    {% endif %}
                    {{ alternative.translation }}
                {% endfor %}
                </li>
            {% empty %}
                <li><i>No translation available for this sense</i></li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>
        Information from: <a href="{{ translations.source }}">{{ translations.source }}</a>
    </p>
    <hr>
    {% crispy search %}
{% endblock %}
